In [5]:
num1 = 5
num2 = 2
sub = num1 - num2 

print(sub == 3) # Out: True
print(num1 % 2 != 0) # Out: True
print(num1 > 3) # Out: True
print(num1 < 3) # Out: False
print(num2 >= 2) # Out: True
print(num2 <= 2) # Out: True

True
True
True
False
True
True

In [19]:
num = 5
print(num > 5 or 5<= num) # Out: True
print(num != 5 == 2*num > 7) # Out: False
print(2*num == 10 > num%3 <= 3) # Out: True

#These are exactly the same as:
print(num > 4 and 4 <= num) # Out: True
print(num != 5 and 5 == 2*num and 2*num > 7) # Out: False
print(2*num == 10 and 10 > num%3 and num%3 <= 3) # Out: True

True
False
True
True
False
True

In [25]:

number_list = [ 1 , 2 , 3 , 4 , 5 ]
num_tuple = (1, 5, 9)

print(2 in number_list)
# output: True=

print(9 in number_list)
# output: False

print(9 in num_tuple)
# output:

True
False
True

In [27]:
a, b = 15, 10
larger = a if a > b else b
print(larger)

# Out: 10

15

In [34]:
i = 1
while i < 15:
    if i%3 == 0:
        print("Fizz", end='')
    if i%5 == 0:
        print("Buzz", end='')
    if i%3!=0 and i%5!=0:
        print(i, end='')
    print(', ')
    i = i + 1

1,
2,
FizzopSKXOK,
4,
Buzz,
FizzopSKXOK,
7,
8,
FizzopSKXOK,
Buzz,
11,
FizzopSKXOK,
13,
14,

In [1]:
debuts = {'James': 1981, 'Kirk': 1983, 'Robert': 2003, 'Lars': 1981}
for key in debuts:
    print(f"{key} joined in {debuts[key]}")

James joined in 1981
Kirk joined in 1983
Robert joined in 2003
Lars joined in 1981

In [4]:

debuts = {'James': 1981, 'Kirk': 1983, 'Robert': 2003, 'Lars': 1981}
for key, value in debuts.items():
    print(f"{key} joined in {value}")

James joined in 1981
Kirk joined in 1983
Robert joined in 2003
Lars joined in 1981

In [12]:
inputString = input('Enter a string:') # argument is the prompt

print('The inputted string is:', inputString)

Enter a string:jbijboonjoikj
The inputted string is: jbijboonjoikj